Examples/sine
Examples/classify
Examples/iris
Examples/sine_verify
Examples/MNIST
Examples/MNISTLoad
Examples/diabetes
Examples/water
Examples/enzymes
Transformer/causal
Transformer/masked
Transformer/Attic
**/.DS_Store
**/*.swp
Private
