CNN/digits
CNN/LeNet5
CNN/simpleProgram
misc/show
misc/ensemble
misc/checkGradient
Examples/sine
Examples/classify
Examples/iris
Examples/sine_verify
Examples/MNIST
Examples/diabetes
Examples/water
Examples/enzymes
**/.DS_Store
**/*.swp
Private
